<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="GET" action="/showCode">
                    <h1>Buscar Funciones</h1>
                    <br>
                    <br>
                    <div style="gap: 10px; display: flex;">
                        <label for="option">Nombre Usuario</label>
                        <input type="radio" id="nameUser" name="option" value="nombreUsuario">
                        <label for="option">Nombre Funcion</label>
                        <input type="radio" id="nameFunc" name="option" value="nombreFuncion">
                        <label for="option">Categoría</label>
                        <input type="radio" id="category" name="option" value="categoria">
                    </div>
                    <br>
                    <br>
                    <div id="divNames" style="display:none;">
                        <label for="names">
                            Lista de usuarios</label>
                        <select name="names" id="names" onchange="getSelectNames(this)">
                            <% if(users.length != 0 ) { %>
                                <% for (let x = 0; x < users.length; x++) { %>
                                    <option hidden>users...</option>
                                    <option value="<%- users[x].id%>"><%- users[x].fullname %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <br>

                    <div id="divFunctions" style="display:none;"></div>
                    <div id="divFunctionsName" style="display:none;"></div>
                    <div id="divFunctionsCategory" style="display:none;">
                        <select name="idCategory" id="idCategory" onchange="getSelectCategories(this)">
                            <% if(categoriesName.length != 0 ) { %>
                                <% for (let x = 0; x < categoriesName.length; x++) { %>
                                    <option hidden>Categories...</option>
                                    <option value="<%- categoriesID[x]%>"><%- categoriesName[x] %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>

                    <br>

                    <div id="divFunctionsCategory2" style="display:none;"></div>

                    <br>


                    <button type="submit">Buscar</button>
                    <br>
                    <a href="/">Home Page</a>
                </form>
            </div>
        </div>
        <br><br>
        <div>
            <% if(errors != "") { %>
                <% errors.forEach((item) => { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div>
            <% if(results != "") { %>
                <% results.forEach((item) => { %>
                    <div class="alert alert-success">
                        <%- item %>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </body>
    <script>
        // Filtrar por nombre
        selectNames = document.getElementById("nameUser");
        selectNames.onclick = function () {
            divNames = document.getElementById("divNames");
            divNames.style = "display: "
            divFunctionsName = document.getElementById("divFunctionsName");
            divFunctionsName.style = "display: none"
            divFunctionsCategory = document.getElementById("divFunctionsCategory");
            divFunctionsCategory.style = "display: none"
            divFunctionsCategory2 = document.getElementById("divFunctionsCategory2");
            divFunctionsCategory2.style = "display: none"
        };

        function getSelectNames(selectObject) {
            divFunctions = document.getElementById("divFunctions");
            divFunctions.innerHTML = '';
            var valueID = selectObject.value;
            divFunctions.style = "display: "

            let codigoHTMLFunctions = `
                <label for="functions">Lista de Funciones</label>
                <select name="functions" id="functions">
                    <% if(functions.length != 0 ) { %>
                        <% for (let x = 0; x < functions.length; x++) { %>
                            <option hidden>functios...</option>
                            <option id="<%- functions[x].idUser%>"  class="optionFunc" value='<%- functions[x].code %>'><%- functions[x].description %></option>
                        <% } %>
                    <% } %>
                </select>
                `
            divFunctions.innerHTML += codigoHTMLFunctions;

            var element = document.getElementsByClassName("optionFunc");

            for (let index = 0; index < element.length; index++) {
                if (element[index].id !== valueID) {
                    element[index].style = "display: none";
                }
            }
        }

        // Filtrar por nombre
        selectFunct = document.getElementById("nameFunc");
        selectFunct.onclick = function () {
            divFunctionsCategory = document.getElementById("divFunctionsCategory");
            divFunctionsCategory.style = "display: none"
            divFunctionsCategory2 = document.getElementById("divFunctionsCategory2");
            divFunctionsCategory2.style = "display: none"
            divNames = document.getElementById("divNames");
            divNames.style = "display: none"
            divFunctions = document.getElementById("divFunctions");
            divFunctions.style = "display: none"
            divFunctionsName = document.getElementById("divFunctionsName");
            divFunctionsName.style = "display: "

            divFunctionsName = document.getElementById("divFunctionsName");
            divFunctionsName.innerHTML = '';
            divFunctionsName.style = "display: "

            let codigoHTMLFunctions = `
                <label for="functions">Lista de Funciones</label>
                <select name="functions2" id="functions2">
                    <% if(functions.length != 0 ) { %>
                        <% for (let x = 0; x < functions.length; x++) { %>
                            <option hidden>functios...</option>
                            <option id="<%- functions[x].idUser%>"  class="optionFunc" value='<%- functions[x].code %>'><%- functions[x].description %></option>
                        <% } %>
                    <% } %>
                </select>
                `
            divFunctionsName.innerHTML += codigoHTMLFunctions;
        };


        // Filtrar por category
        selectCategory = document.getElementById("category");
        selectCategory.onclick = function () {
            divNames = document.getElementById("divNames");
            divNames.style = "display: none"
            divFunctions = document.getElementById("divFunctions");
            divFunctions.style = "display: none"
            divFunctionsName = document.getElementById("divFunctionsName");
            divFunctionsName.style = "display: none"
            divFunctionsCategory = document.getElementById("divFunctionsCategory");
            divFunctionsCategory.style = "display: "
        };

        function getSelectCategories(selectObject) {
            divFunctionsCategory2 = document.getElementById("divFunctionsCategory2");
            divFunctionsCategory2.innerHTML = '';
            var valueID = selectObject.value;
            divFunctionsCategory2.style = "display: "

            let codigoHTMLFunctions = `
                <label for="functions">Lista de Funciones</label>
                <select name="functions3" id="functions3">
                    <% if(functions.length != 0 ) { %>
                        <% for (let x = 0; x < functions.length; x++) { %>
                            <option hidden>functios...</option>
                            <option id="<%- functions[x].idCategory%>"  class="optionFuncCategory" value='<%- functions[x].code %>'><%- functions[x].description %></option>
                        <% } %>
                    <% } %>
                </select>
                `
            divFunctionsCategory2.innerHTML += codigoHTMLFunctions;

            var element = document.getElementsByClassName("optionFuncCategory");

            for (let index = 0; index < element.length; index++) {
                if (element[index].id !== valueID) {
                    element[index].style = "display: none";
                }
            }

        }
    </script>
</html>
